<section class="content persist-area" id="alerts">

  <h1 class="component-category">Alert Feedback</h1>
  
  <h2 class="component-subcat">Content Alerts</h2>

  <div class="row remove-neg-margin">
    <div class="alert alert-success" role="alert">
      <strong>Well done!</strong> You successfully read this important alert message.
    </div>
    <div class="col-sm-3"><code>.alert</code><code>.alert-success</code></div>

    <div class="alert alert-info" role="alert">
      <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
    </div>
    <div class="col-sm-3"><code>.alert</code><code>.alert-info</code></div>

    <div class="alert alert-warning" role="alert">
      <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </div>
    <div class="col-sm-3"><code>.alert</code><code>.alert-warning</code></div>

    <div class="alert alert-danger" role="alert">
      <strong>Oh snap!</strong> Change a few things up and try submitting again.
    </div>
    <div class="col-sm-3"><code>.alert</code><code>.alert-danger</code></div>
  </div>

  <h2 class="component-subcat">Global Alerts</h2>

  <div class="row remove-neg-margin">
    <div class="alert alert-global-positive" role="alert">
      <strong>Well done!</strong> You successfully read this important alert message.
    </div>
    <div class="col-sm-3"><code>.alert</code><code>.alert-global-positive</code></div>

    <div class="alert alert-global-info" role="alert">
      <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
    </div>
    <div class="col-sm-3"><code>.alert</code><code>.alert-global-info</code></div>

    <div class="alert alert-global-warning" role="alert">
      <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </div>
    <div class="col-sm-3"><code>.alert</code><code>.alert-global-warning</code></div>
  </div>

  <h2 class="component-subcat">Dismissible Alerts</h2>

  <div class="row remove-neg-margin">
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </div>
    <div class="col-sm-3"><code>.alert</code><code>.alert-danger</code><code>.alert-dismissible</code></div>

    <div class="alert alert-global-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </div>
    <div class="col-sm-3"><code>.alert</code><code>.alert-global-info</code><code>.alert-dismissible</code></div>
  </div>

  <h2 class="component-subcat">Block Alerts</h2>
  <div class="row">
    <div class="col-sm-6">
      <div class="block-alert-wrap">
        <div class="alert alert-block alert-warning" role="alert">
          <strong>Stay a while and listen!</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum sunt accusamus velit placeat voluptatem eos eveniet, iste, error aspernatur dignissimos, repudiandae provident minus.</p>
        </div>
        <div class="col-md-6"><code>.alert</code><code>.alert-block</code><code>.alert-warning</code></div>
      </div>
    </div>


    <div class="col-sm-6">
      <div class="block-alert-wrap">
        <div class="alert alert-block alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          </button>
          <strong>Stay a while and listen to this crazy detailed story!</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum sunt accusamus velit placeat voluptatem eos eveniet, iste, error aspernatur dignissimos. </p>  
        </div>
        <div class="col-md-6"><code>.alert</code><code>.alert-block</code><code>.alert-info</code><code>.alert-dismissible</code></div>
      </div>
    </div>
  </div>

  <h2 class="component-subcat">Action Alerts</h2>

  <div class="row remove-neg-margin">
    <div class="alert alert-warning alert-action" role="alert">
      <p><strong>Warning!</strong> Better check yourself, you're not looking too good.</p>
      <div>
        <button class="btn btn-pumpkin">Continue</button>
        <button class="btn btn-slate">Cancel</button>
      </div>
    </div>

    <div class="col-sm-3">
      <code>.alert</code>
      <code>.alert-warning</code>
      <code>.alert-action</code>
    </div>

    <div class="alert alert-danger alert-action" role="alert">
      <p><strong>Warning!</strong> Better check yourself, you're not looking too good.</p>
      <button class="close" type="button" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <a href="">Undo</a>
    </div>

    <div class="col-sm-3">
      <code>.alert</code>
      <code>.alert-danger</code>
      <code>.alert-action</code>
    </div>
  </div>

</section>



