<section class="content" id="body" name="body">

  <h1 class="component-category">Body Content</h1>

  <div class="row">
    <div class="col-sm-6">
      <header><h2 class="component-subcat">Recessed Content </h2><code> .well</code></header>
      <div class="well"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt cumque odit, vero vel voluptatem eos, veniam amet sed repellendus, explicabo rem perferendis! Numquam reiciendis eos debitis sapiente recusandae vitae porro! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt cumque odit, vero vel voluptatem eos, veniam amet sed repellendus, explicabo rem perferendis!</p></div>
    </div>

    <div class="col-sm-6">
      <header><h2 class="component-subcat">Panels </h2><code> .panel .panel-default</code></header>
      <div class="panel panel-default">
        <div class="panel-heading">Aside Panel Title</div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt cumque odit, vero vel voluptatem eos, veniam amet sed repellendus, explicabo rem perferendis! Numquam reiciendis eos debitis sapiente recusandae vitae porro!</p>
        </div>
      </div>
    </div>

  </div>

  <h2 class="component-subcat">Images!</h2>
  
  <div class="img-group clearfix">  
    <div class="img-code-wrap"><img src="img/image@2x.png" width="170" height="128" alt="" class=""></div>

    <div class="img-code-wrap"><img src="img/outlined-image@2x.png" width="170" height="128" alt="" class="img-outlined"><br><code>.img-outlined</code></div>

    <div class="img-code-wrap"><a href="#"><img src="img/image-link@2x.png" width="170" height="128"alt="" class=""></a><code>&lt;a href="#"&gt;<br>&nbsp;&nbsp;&lt;img src="image.png"&gt;<br>&lt;/a&gt;</code></div>

    <div class="img-code-wrap"><img src="img/image-thumbnail@2x.png" width="170" height="128" alt="" class="img img-thumb"></div>
  </div>

  <header class=""><h2 class="component-subcat">Highlighting</h2>
  <code class=" ">&lt;mark class="highlight"&gt;&lt;/mark&gt;</code></header>

    <p>Lorem ipsum dolor sit amet, <mark class="highlight">consectetur</mark> adipisicing elit.</p>


  <header class=""><h2 class="component-subcat ">Keyboard Shortcuts</h2><code class="">&lt;kbd class="shortcut"&gt;&lt;/kbd&gt;</code></header>

    <p>Lorem ipsum dolor sit amet, <kbd class="shortcut">ctrl</kbd> <kbd class="shortcut">alt</kbd> <kbd class="shortcut">delete</kbd> adipisicing elit.</p>



  <header class=""><h2 class="component-subcat ">Labels</h2><code class="">.label .label-lg</code></header>
  <div class="row label-group-wrap" data-columns="32">
    <div class="label-group">
      <span class="label label-lg label-default">label</span>
      <span class="label label-default">label</span></div>
    <div class="label-group">
      <span class="label label-lg label-slate">label</span>
      <span class="label label-slate">label</span>
      </div>
    <div class="label-group">
      <span class="label label-lg label-steel-blue">label</span>
      <span class="label label-steel-blue">label</span>
    </div>
    <div class="label-group">
      <span class="label label-lg label-leaf">label</span>
      <span class="label label-leaf">label</span>
    </div>
    <div class="label-group">
      <span class="label label-lg label-ocean">label</span>
      <span class="label label-ocean">label</span>
    </div>
    <div class="label-group">
      <span class="label label-lg label-pumpkin">label</span>
      <span class="label label-pumpkin">label</span>
    </div>
    <div class="label-group">
      <span class="label label-lg label-dark-red">label</span>
      <span class="label label-dark-red">label</span>
    </div>
  </div>


  <header class=""><h2 class="component-subcat ">Badges</h2><code class="">.badge</code></header>

    <div class="badge-group-wrap">
      <span class="badge badge-silver">42</span>
      <span class="badge badge-slate">42</span>
      <span class="badge badge-steel-blue">42</span>
      <span class="badge badge-ocean">42</span>
      <span class="badge badge-leaf">42</span>
      <span class="badge badge-tangerine">42</span>
      <span class="badge badge-pumpkin">42</span>
      <span class="badge badge-dark-red">42</span>
      <span class="badge badge-grape hidden-xs">42</span>
      <span class="badge badge-charcoal">42</span>
    </div>

    <div class="user-badge-wrap">
      <p>
      <i class="glyphicon glyphicon-user"></i>
      <sub class="badge badge-dark-red badge-subscript">42</sub>
    </p>
    <code>.badge-subscript</code>  
    </div>
          


  <header class=""><h2 class="component-subcat ">Ratings</h2><code data-target="star-rating">.glyphicon .glyphicon-star .gliphicon-star-empty</code></header>
    <p data-target-name="star-rating"> 
      <i class="glyphicon glyphicon-star"></i>
      <i class="glyphicon glyphicon-star"></i>
      <i class="glyphicon glyphicon-star"></i>
      <i class="glyphicon glyphicon-star-empty"></i>
      <i class="glyphicon glyphicon-star-empty"></i>
    </p>

</section>
