<section class="content" id="buttons" name="buttons">

	<h1 class="component-category">Buttons</h1>
	<h2 class="component-subcat">Button Sizing</h2>

	<div class="button-group-wrap clearfix">
		<div class="button-group">
			<button class="btn btn-primary btn-xs">Button</button><code>.btn</code><code>.btn-xs</code>
		</div>
		<div class="button-group">
			<button class="btn btn-primary btn-sm">Button</button><code>.btn</code><code>.btn-sm</code>
		</div>
		<div class="button-group">
			<button class="btn btn-primary btn">Button</button><code>.btn</code>
		</div>
		<div class="button-group">
			<button type="button" class="btn btn-primary btn-lg">Button</button><code>.btn</code><code>.btn-lg</code>
		</div>
	</div>


	<h2 class="component-subcat">Button Colors</h2>
	<div class="button-group-wrap clearfix">
		<div class="button-group">
			<button class="btn btn-steel">Button</button><code>.btn-steel</code>
		</div>
		<div class="button-group">
			<button class="btn btn-slate">Button</button><code>.btn-slate</code>
		</div>
		<div class="button-group">
			<button class="btn btn-pewter">Button</button><code>.btn-pewter</code>
		</div>
		<div class="button-group">
			<button class="btn btn-silver">Button</button><code>.btn-silver</code>
		</div>
		<div class="button-group">
			<button class="btn btn-white">Button</button><code>.btn-white</code>
		</div>
		<div class="button-group">
			<button class="btn btn-moss">Button</button><code>.btn-moss</code>
		</div>
		<div class="button-group">
			<button class="btn btn-leaf">Button</button><code>.btn-leaf</code>
		</div>
		<div class="button-group">
			<button class="btn btn-sand">Button</button><code>.btn-sand</code>
		</div>
		<div class="button-group">
			<button class="btn btn-charcoal">Button</button><code>.btn-charcoal</code>
		</div>
		<div class="button-group">
			<button class="btn btn-grape">Button</button><code>.btn-grape</code>
		</div>
		<div class="button-group">
			<button class="btn btn-dark-red">Button</button><code>.btn-dark-red</code>
		</div>
		<div class="button-group">
			<button class="btn btn-pumpkin">Button</button><code>.btn-pumpkin</code>
		</div>
		<div class="button-group">
			<button class="btn btn-tangerine">Button</button><code>.btn-tangerine</code>
		</div>
		<div class="button-group">
			<button class="btn btn-asparagus">Button</button><code>.btn-asparagus</code>
		</div>
		<div class="button-group">
			<button class="btn btn-mint">Button</button><code>.btn-mint</code>
		</div>
		<div class="button-group">
			<button class="btn btn-ocean">Button</button><code>.btn-ocean</code>
		</div>
	</div>


	<h2 class="component-subcat">Disabled Buttons</h2>
	<div class="button-group-wrap clearfix">

		<div class="button-group bg-light clearfix text-center">
			<button class="btn btn-pewter">Button</button>
			<button class="btn btn-pewter" disabled="disabled">Button</button>
		</div>

		<div class="button-group bg-medium clearfix text-center">	
			<button class="btn btn-slate">Button</button>
			<button class="btn btn-slate" disabled="disabled">Button</button>
		</div>

		<div class="button-group bg-dark clearfix text-center">	
			<button class="btn btn-steel">Button</button>
			<button class="btn btn-steel" disabled="disabled">Button</button>
		</div>

	</div>


	<h2 class="component-subcat">Dropdown Buttons</h2>
	<div class="button-group-wrap clearfix">


		<div class="button-group">	
			<button type="button" class="btn btn-silver dropdown-toggle" data-toggle="dropdown">
				Basic Dropdown <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
			</ul>
		</div>

		<div class="button-group">
			<button type="button" class="btn btn-silver dropdown-toggle" data-toggle="dropdown">
				With Separators <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
				<li role="presentation" class="divider"></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
			</ul>
		</div>

		<div class="button-group">
			<button type="button" class="btn btn-silver dropdown-toggle" data-toggle="dropdown">
				With Headers <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
				<li role="presentation" class="dropdown-header">Dropdown Header</li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
				<li role="presentation" class="divider"></li>
				<li role="presentation" class="dropdown-header">Dropdown Header</li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>

			</ul>
		</div>
	</div>


	<h2 class="component-subcat">Multi-Action Buttons</h2>

	<div class="btn-group">
		<button type="button" class="btn btn-silver">Default Action</button>
		<button type="button" class="btn btn-silver dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
			<span class="sr-only">Toggle Dropdown</span>
		</button>

		<ul class="dropdown-menu" role="menu">
			<li><a href="#">Another Action</a></li>
			<li><a href="#">A Third action</a></li>
			<li><a href="#">Something else here</a></li>
			<li class="divider"></li>
			<li><a href="#">Separated link</a></li>
		</ul>
	</div>





	<h2 class="component-subcat">Buttons With Images</h2>

	<div class="button-group">
		<button type="button" class="btn btn-steel">
			Button &nbsp; <i class="glyphicon glyphicon-user"></i>
		</button>
	</div>

	<div class="button-group">
		<button type="button" class="btn btn-silver dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> &nbsp; Dropdown <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
		</ul>
	</div>


	<div class="button-group">
		<div class="btn-group">
			<button type="button" class="btn btn-leaf"><i class="glyphicon glyphicon-user"></i></button>
			<button type="button" class="btn btn-leaf dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#">Another Action</a></li>
				<li><a href="#">A Third action</a></li>
				<li><a href="#">Something else here</a></li>
				<li class="divider"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</div>
	</div>


</section>
