<section class="content" id="forms">
	

	<h1 class="component-category">Forms</h1>
	<h2 class="component-subcat">Text Input</h2>
	<div class="row text-group-wrap">

		<div class="col-sm-4">
			<input type="text" name="" id="" class="input-sm" placeholder="small text box"><code>.input-sm</code>
		</div>

		<div class="col-sm-4">
			<input type="text" name="" id="" placeholder="regular text box">
		</div>

		<div class="col-sm-4">
			<input type="text" name="" id="" class="input-lg" placeholder="large text box"><code>.input-lg</code>
		</div>
		
	</div>

	<h2 class="component-subcat">Custom Text Inputs</h2>
	<div class="row text-group-wrap">

		<div class="col-sm-3">
			<div>
				<label for="text0" class="control-label">Default Label</label>
				<input type="text" name="" id="text0" class="" disabled="disabled" placeholder="disabled text box">
				<code>disabled="disabled"</code>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="has-success">	
				<label for="text1" class="control-label">Success!</label>
				<input type="text" name="" id="text1"  value="input successful">
				<code>.has-success</code>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="has-warning">
				<label for="text2" class="control-label">Warning!</label>
				<input type="text" name="" id="text2" class="has-warning" value="input warning">
				<code>.has-warning</code>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="has-error">
				<label for="text3" class="control-label">Error!</label>
				<input type="text" name="" id="text3" class="has-error" value="input error">
				<code>.has-error</code>
			</div>
		</div>

	</div>

	<h2 class="component-subcat">Text Input Addons</h2>

	<div class="text-input-addons-wrap row">
		<div class="col-sm-4">
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
				<input type="text" placeholder="Name">
			</div>	
			
		</div>

		<div class="col-sm-4">
			<div class="input-group">
				<span class="input-group-addon"><input type="checkbox"></span>
				<input type="text" class="form-control">
			</div>
			
		</div><!-- /input-group -->

		<div class="col-sm-4">
			<div class="input-group">
				<input type="text" name="" id="" class="" placeholder="Amount">
				<span class="input-group-addon">UAH</span>
			</div>

			

			<div>
				<code>&lt;div class="unput-group"&gt;</code>
				<code>&nbsp;&nbsp;&lt;span class="input-group-addon"&gt;...&lt;/span&gt;</code>
				<code>&nbsp;&nbsp;&lt;input type="text"&gt;</code>
				<code>&lt;/div&gt;</code>
			</div>
		</div>
	</div>
	


	<h2 class="component-subcat">Textarea Input</h2>
	
	<div class="form-group">
		<textarea>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quas numquam similique nobis alias ipsa libero enim mollitia totam? Qui, unde magni facilis tempore. Illum iste reprehenderit vero eveniet quos. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas temporibus, odio similique maxime voluptas debitis ipsum earum, quos tempora voluptatem, aliquid praesentium ducimus rerum explicabo in illum nesciunt eligendi asperiores?</textarea>
	</div>
	

	<h2 class="component-subcat">Selection Input</h2>
	
	<div class="form-group">
		<select>
			<option>Boise, ID</option>
			<option>Seattle, WA</option>
		</select>	
	</div>
	


	<h2 class="component-subcat">Formfield</h2>
	
	<div class="form-group">
		<input type="text" placeholder="Group Name">
		<button class="btn btn-steel">Create Templates Group</button>
	</div>

</section>
