<!-- START MEDIA CONTROL CONTENT -->
<section class="content" id="media"><!-- Media Control Content -->

  <h1 class="component-category">media controls</h1>
  <h3 class="component-subcat">Progress Bars</h3>

  <div class="progress-wrap">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
        <span class="sr-only">60% Complete</span>
      </div>
    </div>
    <code>.progress-bar</code>
  </div>
  
  <div class="progress-wrap">
    <div class="progress">
      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%;">
        <span class="sr-only">55% Complete</span>
      </div>
    </div>
    <code>.progress-bar .progress-bar-info</code>
  </div> 

  <h3 class="component-subcat">Value-Based Progress Bars</h3>
  <div class="progress-wrap">
    <div class="progress">
      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
        50%
      </div>
    </div>
    <code>.progress-bar .progress-bar-info</code>
  </div>

  <h3 class="component-subcat">Segmented Bars</h3>
  <div class="progress-wrap">
    <div class="progress">
      <div class="progress-bar progress-bar-success" style="width: 35%">
        <span class="sr-only">35% Complete (success)</span>
      </div>
      <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
        <span class="sr-only">20% Complete (warning)</span>
      </div>
      <div class="progress-bar progress-bar-danger" style="width: 10%">
        <span class="sr-only">10% Complete (danger)</span>
      </div>
    </div>
    <code>.progress-bar (default)</code>
    <code>.progress-bar-success (green)</code>
    <code>.progress-bar-warning .progress-bar-striped (orange)</code>
    <code>.progress-bar-danger (red)</code>
  </div>


  <h3 class="component-subcat">Animated Bars</h3>
  <div class="progress-wrap">
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">
        <span class="sr-only">45% Complete (danger)</span>
      </div>
    </div>
    <code>.progress-bar .progress-bar-info</code>    
  </div>
    

  <h3 class="component-subcat">Sliders</h3>
    <div class="slider-wrap">
      <div class="slider"></div>
      <code>&lt;div class="slider"&gt;&lt;/div&gt;</code>
    </div>

</section>

<!-- END MEDIA CONTROL CONTENT -->