      <!-- START TABLES CONTENT -->
      <section class="content" id="tables"><!-- Tables Content -->
        
      <h1 class="component-category">tables</h1>

      <div>
      <header>
        <h2 class="component-subcat">Basic Tables </h2>
        <code>.table</code>
      </header>
      
        <table class="table">
          
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
              <th>Active</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>1</td>
              <td>John</td>
              <td>Boo</td>
              <td>johny81</td>
              <td></td>
            </tr>
            <tr>
              <td>2</td>
              <td>Mary</td>
              <td>Brown</td>
              <td>missmary</td>  
              <td></td>            
            </tr>
            <tr>
              <td>3</td>
              <td>James</td>
              <td>Mooray</td>
              <td>jijames</td>
              <td></td>
            </tr>

          </tbody>

        </table>
        

      </div>

      <div>

      <header>
        <h2 class="component-subcat">Striped Rows</h2>
        <code>.table .table-striped</code>
      </header>
      
        <table class="table table-striped">
          
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
              <th>Active</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>1</td>
              <td>John</td>
              <td>Boo</td>
              <td>johny81</td>
              <td></td>
            </tr>
            <tr>
              <td>2</td>
              <td>Mary</td>
              <td>Brown</td>
              <td>missmary</td>  
              <td></td>            
            </tr>
            <tr>
              <td>3</td>
              <td>James</td>
              <td>Mooray</td>
              <td>jijames</td>
              <td></td>
            </tr>

          </tbody>

        </table>
      </div>

      <div>
      
      <header>
        <h2 class="component-subcat">Highlighted Rows</h2>
        <code> .table .row-highlighted-*</code>
      </header>
      
        <table class="table">
          
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
              <th>Active</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>1</td>
              <td>John</td>
              <td>Boo</td>
              <td>johny81</td>
              <td></td>
            </tr>
            <tr class="row-highlighted-red danger">
              <td>2</td>
              <td>Mary</td>
              <td>Brown</td>
              <td>missmary</td>  
              <td></td>            
            </tr>
            <tr>
              <td>3</td>
              <td>James</td>
              <td>Mooray</td>
              <td>jijames</td>
              <td></td>
            </tr>
            <tr>
              <td>4</td>
              <td>John</td>
              <td>Boo</td>
              <td>johny81</td>
              <td></td>
            </tr>
            <tr class="row-highlighted-blue success">
              <td>5</td>
              <td>Mary</td>
              <td>Brown</td>
              <td>missmary</td>  
              <td></td>            
            </tr>
            <tr>
              <td>6</td>
              <td>James</td>
              <td>Mooray</td>
              <td>jijames</td>
              <td></td>
            </tr>

          </tbody>

        </table>
      </div>

      <div>
      <h2 class="component-subcat">Content-Embedded Table</h2>

      <div class="panel panel-default">
        <div class="panel-heading">Panel Title</div>
        <div class="panel-body">

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur blanditiis reprehenderit nisi veritatis, ipsum quidem est, itaque quos fugit magnam deleniti molestias modi laborum sequi fugiat, iste architecto iusto non.</p>

          <table class="table">
              
              <thead>
                <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Username</th>
                  <th>Active</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>1</td>
                  <td>John</td>
                  <td>Boo</td>
                  <td>johny81</td>
                  <td></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Mary</td>
                  <td>Brown</td>
                  <td>missmary</td>  
                  <td></td>            
                </tr>
                <tr>
                  <td>3</td>
                  <td>James</td>
                  <td>Mooray</td>
                  <td>jijames</td>
                  <td></td>
                </tr>

              </tbody>

            </table>

          </div>
        

      </div>


      </section>

      <!-- END TABLES CONTENT -->